div.content
  form(method='get' action='javascript:GoToPageSF()')
    .form__group
      label.form__label(for='singleFile') Toon Single File
      input#singleFile.form__input(type='text', placeholder='ModelID (5 cijfers ingeven)')
      button.btn.btn--red Find
  form(method='get' action='javascript:GoToPageSR()')
    .form__group
      label.form__label(for='sAndR') Toon Step & Repeat
      input#sAndR.form__input(type='text', placeholder='ModelID (5 cijfers ingeven)')
      button.btn.btn--red Find
  form(method='get' action='javascript:GoToPageBarCode()')
    .form__group
      label.form__label(for='barCode') Toon Barcode scan rapporten
      input#barCode.form__input(type='text', placeholder='ORV_Lijnen ID (6 cijfers ingeven)')
      button.btn.btn--red Find
  form.searchRecepie
    .form__group
      label.form__label(for='recepies') Toon Formulles
      input#recepies.form__input(type='text', placeholder='Naam Formyle (bvb FP 485)')
      button.btn.btn--red Find
div.results
  div.resultList.box--div Search results for Formulataion names
  div.recepieResult.box--div Component list for selected formulation