div.content
  form.form.form--singleFile
    .form__group
      label.form__label(for='singleFile') Toon Single File
      input#singleFile.form__input(type='text', placeholder='ModelID (5 cijfers ingeven)')
      button.btn.btn--green Find
      
    .form__group
      label.form__label(for='sAndR') Toon Step & Repeat
      input#sAndR.form__input(type='text', placeholder='ModelID (5 cijfers ingeven)')
      button.btn.btn--green Find
    .form__group
      label.form__label(for='barCode') Toon Barcode scan rapporten
      input#barCode.form__input(type='text', placeholder='ORV_Lijnen ID (6 cijfers ingeven)')
      button.btn.btn--green Find