* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

header img {
  max-height: 3rem;
}

form {
  margin-bottom: 2rem;
}

/* elements style */

.content {
  max-width: 80rem;
  margin: 0 auto;
}

.results {
  max-width: 75vw;
  margin: 0 auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  /* align-items: center; */
  justify-items: center;
  font-size: 1.5rem;
}

.container {
  display: flex;
}

.box {
  border-radius: 4px;
  padding: 0.5rem;
  min-width: 50rem;
  min-height: 10rem;
  border: #888 Solid 2px;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
}

.results li {
  list-style: none;
}

#theP {
  background-color: #777;
  color: white;
}

.selected {
  background-color: #777;
  color: white;
}

.resultRows {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}

.empty {
  min-height: 0.5rem;
}

.listTitle {
  font-weight: bold;
}

/* button style */
.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #872f07;
}

.btn--red {
  background-color: #ee0c0c;
  color: #fff;
}

/* form style */
.login-form {
  background-color: #fff;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 80%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 5rem;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
