body {
  background-color: #808080;
}
div.backG {
  position: center;
  top: 35%;
  left: 45%;
}
div.center {
  position: absolute;
  top: 35%;
  left: 45%;
  border: 3px solid black;
  background-color: #ffa600;
}
img {
  height: 100px;
}
